@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:"poppins";

}
h4,h5{
    color: #000;
    margin-top: 2px;
    transition: 1s;
}
.safe{
    color: #dcdcdc;
}
.notion{
    border-radius: 10px;
    margin-top: 8px;
    padding: 5px;
    border:1px solid #fff;
    background:rgba(255, 255, 255, 0.6);
    height: 70px;
    overflow: hidden;
}
.notion .truth{
    color:transparent ;
    transition: 1s;
    font-family:"Hachi Maru Pop";
}
.notion:hover .truth{
    color: rgb(0, 67, 3);
}
.notion:hover .safe{
    color: transparent;
    display: none;

}
#banner{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0,0.1 ),rgba(0,0,0,0.7 )),url(/images/pic.jpeg);
    background-size: cover;
    background-position: center;
}
#drone-box{
    margin: 150px auto;
    width: 200px;
    position: relative;
    border: 1px solid transparent;
    
}
.war-mode{
    border: 1px solid red !important;
}
.safe-mode{
    border: 1px solid rgb(14, 166, 0) !important;
}
.text{
    margin-left: 5px;
    padding: 20px;
    position: absolute;
    width: 30%;
    top:12%;
    border: 2px solid transparent;
    background-color: rgba(0,0,0,0.9 );
    border-radius: 20px;
}
.text-border{
    border: 2px solid red;
}
.text-border2{
    border: 2px solid rgb(14, 166, 0);
}
.text h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
}
.text h2{
    font-size: 25px;
    color: #fff;
    text-shadow: 3px 2px 15px red;
    margin-bottom: 20px;
    margin-top: 20px;
}
.text h3{
    font-size: 25px;
    color: #fff;
    text-shadow: 3px 2px 15px rgb(14, 166, 0);
    margin-bottom: 20px;
    margin-top: 20px;
}
.text p{
    font-size: 25px;
    color: #aba8a8;
    margin-bottom: 30px;
}
.drone-pic{
    width: 100%;
}
.left-pic{
    width: 80px;
    top: 0;
    left: -11px;
    position: absolute;
    animation: rotation .1s linear infinite;
}
.right-pic{
    width: 80px;
    top: 0;
    right: -11px;
    position: absolute;
    animation: rotation .1s linear infinite;
}
/*button*/
button{
    background-color: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 60px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
button span{
    display:block;
    background-color: #000000;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s ;
}
.active{
    background-color: rgb(166, 0, 0);
  }
  .active span{
    background-color: #fff;
    margin-left: 31px;
}
  .active2{
    background-color: rgb(14, 166, 0);
  }
  .active2 span{
    background-color: #fff;
    margin-left: 31px;
}
 

@keyframes rotation{
    100%{
        transform: rotateY(360deg);
    }
}